body {
    background-color: #062863;
    margin: 0;
    padding: 0;
}

main {
    padding-top: 3rem;
    padding-bottom: 3rem;
    
}

.background-icons {
    background-image: url(./images/icon-one.png), url(./images/icon-two.png), url(./images/icon-three.png), url(./images/icon-four.png);
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: left -1% top -15%, right -7.5% top -1%, left -5% bottom -10%, right -5% bottom -5%;
    z-index: -1;
    height: 100vh;
    width: 100%;
    position: fixed;
}

.logo img {
    display: block;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.sign-in-form {
    background-color: #fff;
    max-width: 28rem;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 40px 40px 48px 40px;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
}

.sign-in-form header h1 {
    font-family: sans-serif;
    font-size: 24px;
    margin-bottom: 0;
    text-align: center;
    color: #083E9E;
}

.sign-in-form header p {
    font-family: Karla, sans-serif;
    margin-top: 2px;
    font-size: 14px;
    color: #4A5568;
    text-align: center;
}

.sign-in-form form {
    margin-top: 2rem;
}

.input-group {
    margin-bottom: 2rem;
}

.sign-in-form form label {
    display: block;
    font-size: 14px;
    font-family: Karla, sans-serif;
    font-weight: 700;
    line-height: 2;
    color: #4A5568;
}

.sign-in-form form input {
    display: block;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    background-color: #edf2f7;
    border: none;
    border-radius: .25rem;
    font-size: 16px;
    color: #1a202c;
}

.sign-in-form form select {
    display: block;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    border: none;
    background-color: #edf2f7;
    border-radius: .5rem;
    border: 1px solid #edf2f7;
    font-size: 16px;
    color: #1a202c;
}

.sign-in-form form select:focus {
    /* border-color: blue; */
    border: 1px solid blue;
    outline: none;
}

.sign-in-form form input:focus {
    outline: none;
}

::placeholder {
    opacity: 0.8;
}

.sign-in-form form button {
    width: 100%;
    padding: 20px 0px;
    text-transform: uppercase;
    background-color: #083e9e ;
    border: 1px solid #083e9e;
    color: #fff;
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
    border-bottom-right-radius: .75rem;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}

.sign-in-form form button:hover {
    background-color: #062B6F;
    border: 1px solid #062B6F;
}

.login-link a {
    display: block ;
    text-align: center;
    margin-top: 2rem;
    text-decoration: none;
    color: #fff;
    font-family: Karla, sans-serif;
    font-size: .875rem;
}